@charset "UTF-8";
@font-face {
  font-family: MSungHK;
  src: url(../font/MSungHK-Medium.otf);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: MSungHK, "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

img {
  display: block;
}

h1 {
  font-family: MSungHK, "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: #fff;
  letter-spacing: 0.1px;
}

h6 {
  font-family: MSungHK, "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}

h3 {
  margin-bottom: 24px;
  color: #fff;
  font-size: 32px;
  text-align: center;
}

.d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify_start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bg_gold {
  background-color: #bf9d5a;
}

.mt_3 {
  margin-top: 1.5rem;
}

.mt_4 {
  margin-top: 2rem;
}

.mb_3 {
  margin-bottom: 1.5rem;
}

.mb_4 {
  margin-bottom: 2rem;
}

.d_none {
  display: none !important;
}

@media (max-width: 768px) {
  .md_bg_gold {
    background-color: #bf9d5a;
  }
  .d_md_none {
    display: none !important;
  }
  .d_md_block {
    display: block !important;
  }
  .d_md_block img {
    max-width: 100%;
  }
  .d_md_table {
    display: table !important;
  }
  .d_md_table img {
    max-width: 100%;
  }
  .md_space {
    padding: 100px 1.5rem 120px 1.5rem;
  }
}

#fp-nav {
  top: inherit;
  bottom: 50px;
}

#fp-nav ul li a span {
  background: #ffffff;
}

.fp-controlArrow.fp-next {
  background-image: url("../images/desktop/Fillet_Right.png");
  border: none;
  width: 52px;
  height: 150px;
  opacity: 0.5;
  right: 0;
}

.fp-controlArrow.fp-prev {
  background-image: url("../images/desktop/Fillet_Left.png");
  border: none;
  width: 52px;
  height: 150px;
  opacity: 0.5;
  left: 0;
}

.fp-controlArrow.fp-next:hover {
  opacity: 1;
}

.fp-controlArrow.fp-prev:hover {
  opacity: 1;
}

@media screen and (max-width: 1280px) {
  .fp-controlArrow.fp-next {
    border-width: 25px 0 25px 21px;
  }
  .fp-controlArrow.fp-prev {
    border-width: 25px 21px 25px 0;
  }
}

@media screen and (max-width: 768px) {
  #fp-nav {
    display: none;
  }
}

.Sec_img {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.Sec0home {
  height: 100vh;
  background-image: url(../images/desktop/s0bg.jpg);
  background-position: center top;
}

.p360 {
  height: 100%;
}

@media screen and (min-width: 1920px) {
  .view360.slide {
    display: none;
  }
  .Sec1img1 {
    height: 100vh;
    background-image: url(../images/desktop/s1/sec1img01.jpg);
    background-position: right top;
  }
}

.Sec2_img {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.Sec2img1 {
  background-image: url(../images/desktop/s2/sec2img01.jpg);
}

.Sec2img2 {
  background-image: url(../images/desktop/s2/sec2img02.jpg);
}

.Sec2img3 {
  background-image: url(../images/desktop/s2/sec2img03.jpg);
}

.Sec2img4 {
  background-image: url(../images/desktop/s2/sec2img04.jpg);
}

.Sec2img5 {
  background-image: url(../images/desktop/s2/sec2img05.jpg);
  background-position: right top;
}

.Sec3_img {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.Sec3img1 {
  background-image: url(../images/desktop/s3/sec3img01.jpg);
}

.Sec3img2 {
  background-image: url(../images/desktop/s3/sec3img02.jpg);
}

.Sec3img3 {
  background-image: url(../images/desktop/s3/sec3img03.jpg);
}

.Sec3img4 {
  background-image: url(../images/desktop/s3/sec3img04.jpg);
  background-position: right top;
}

.Sec3img5 {
  background-image: url(../images/desktop/s3/sec3img05.jpg);
}

.Sec3img6 {
  background-image: url(../images/desktop/s3/sec3img06.jpg);
}

.Sec3img7 {
  background-image: url(../images/desktop/s3/sec3img07.jpg);
}

.Sec3img8 {
  background-image: url(../images/desktop/s3/sec3img08.jpg);
}

.Sec3img9 {
  background-image: url(../images/desktop/s3/sec3img09.jpg);
  background-position: right top;
}

.Sec3img10 {
  background-image: url(../images/desktop/s3/sec3img10.jpg);
}

.Sec3img11 {
  background-image: url(../images/desktop/s3/sec3img11.jpg);
}

.Sec3img12 {
  background-image: url(../images/desktop/s3/sec3img12.jpg);
}

.Sec4_img {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.Sec4img1 {
  background-image: url(../images/desktop/s4/sec4img01.jpg);
}

.Sec4img2 {
  background-image: url(../images/desktop/s4/sec4img02.jpg);
}

.Sec4img3 {
  background-image: url(../images/desktop/s4/sec4img03.jpg);
}

.Sec4img4 {
  background-image: url(../images/desktop/s4/sec4img04.jpg);
}

.desktop_slide {
  width: 90%;
  max-width: calc(100% -280px);
}

.content_box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 280px;
          flex: 1 1 280px;
  max-width: 280px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 48px;
  color: #fff;
  background-color: #003752;
}

.content_box .vertical_write {
  margin-bottom: 48px;
  font-size: 24px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  line-height: 1.5;
}

.border_content {
  padding: 48px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-weight: normal;
  line-height: 2;
}

@media (max-width: 768px) {
  .desktop_slide {
    width: 100%;
  }
}

.Sec5_img {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.Sec5img1 {
  background-image: url(../images/desktop/s5/sec5img01.jpg);
}

.Sec5img2 {
  background-image: url(../images/desktop/s5/sec5img02.jpg);
}

.Sec5img3 {
  background-image: url(../images/desktop/s5/sec5img03.jpg);
}

.Sec5img4 {
  background-image: url(../images/desktop/s5/sec5img04.jpg);
}

.Sec6_img {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.Sec6img1 {
  background-image: url(../images/desktop/s6/sec6img01.jpg);
}

.Sec6img2 {
  background-image: url(../images/desktop/s6/sec6img02.jpg);
}

.Sec6img3 {
  background-image: url(../images/desktop/s6/sec6img03.jpg);
}

.Sec6img4 {
  background-image: url(../images/desktop/s6/sec6img04.jpg);
}

.Sec6img5 {
  background-image: url(../images/desktop/s6/sec6img05.jpg);
}

@media screen and (max-width: 768px) {
  .life_md_bg {
    background-color: #bf9d5a;
  }
  .group_slide img {
    max-width: 100%;
  }
}

.bg_repeat {
  background: url(../images/desktop/Bg_PC_01.jpg) center top repeat-y;
  background-size: contain;
}

.intro {
  margin-bottom: 100px;
}

.table_wrapper {
  max-width: 680px;
  margin: 0 auto;
}

.table_wrapper .table {
  width: 100%;
}

.table_wrapper h3 {
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 24px;
  line-height: 2.4rem;
  text-align: left;
}

.table_wrapper td {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 18px;
  line-height: 2.4rem;
}

.google_map {
  height: 20vh;
  position: relative;
}

.google_map iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 768px) {
  .intro {
    padding-top: 100px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .google_map {
    height: 30vh;
  }
}

.form_wrapper {
  max-width: 680px;
  margin: 0 auto;
}

.text_title {
  margin-bottom: 16px;
  color: #fff;
  font-size: 16px;
}

.text_sub {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}

.policy {
  color: #fff;
  line-height: 1.5;
}

.policy a {
  padding-left: 4px;
  color: #ffcc00;
}

.policy a:hover {
  text-decoration: underline;
}

.input_group {
  max-width: calc(50% - 8px);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 8px);
          flex: 1 1 calc(50% - 8px);
  position: relative;
}

.input {
  width: 100%;
  margin-bottom: 16px;
  padding: 4px 8px;
  color: #183149;
  border: 1px solid #999999;
  border-radius: 4px;
  font-family: MSungHK, "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 16px;
}

::-webkit-input-placeholder {
  color: #183149;
}

:-ms-input-placeholder {
  color: #183149;
}

::-ms-input-placeholder {
  color: #183149;
}

::placeholder {
  color: #183149;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 16px;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 4px;
}

.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 5px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: 100%;
  padding: 8px 0;
  color: #183149;
  border: 0;
  border-radius: 4px;
  background-color: #fff;
  font-family: MSungHK, "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffcc00;
}

@media (max-width: 768px) {
  .policy a {
    padding-left: 0;
  }
  .input_group {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
    max-width: initial;
  }
  .md_column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card {
  padding: 1.5rem;
  color: #595757;
  background-color: #fff;
}

.card_title {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.5;
}

.card_content {
  margin-bottom: 1rem;
  padding: 0 2rem;
  font-size: 1.1rem;
  line-height: 1.6;
}

.card_gold {
  padding: 1.5rem;
  color: #fff;
  background-color: #BF9D5A;
}

.card_gold .card_title {
  margin-top: 2rem;
}

.card_gold .card_title.extra {
  margin-top: .5rem;
}

.card_gold .card_content {
  margin-bottom: 2rem;
}

@media (max-width: 480px) {
  .card,
  .card_gold {
    padding: 1rem;
  }
  .card_title {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  .card_content {
    font-size: 1rem;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 48px;
  position: fixed;
  bottom: 0;
  background-color: #183149;
  border-top: 1px solid #ffffff;
  text-align: right;
  z-index: 999;
}

.footer ul li {
  display: inline-block;
  font-size: 17px;
  color: #ffffff;
  padding: 0 4px;
  font-family: MSungHK, "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.footer ul li:first-of-type {
  padding-right: 10px;
  border-right: 1px solid #e5c058;
}

.footer a {
  font-size: 17px;
  color: #ffffff;
  text-decoration: none;
}

.logo {
  width: 128px;
  height: auto;
}

.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 8px;
  }
  .logo {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */