@charset "UTF-8";
@font-face {
  font-family: MSungHK;
  src: url(../font/MSungHK-Medium.otf);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: MSungHK, "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

img {
  display: block;
}

h1 {
  font-family: MSungHK, "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: #fff;
  letter-spacing: 0.1px;
}

h6 {
  font-family: MSungHK, "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}

h3 {
  margin-bottom: 24px;
  color: #fff;
  font-size: 32px;
  text-align: center;
}

p {
  margin: 0;
}

.fontHei {
  font-family: "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.text_dark {
  color: #595757;
}

.d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify_start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.text-shadow {
  text-shadow: 0 0 10px black;
}

.bg_gold {
  background-color: #bf9d5a;
}

.mt_3 {
  margin-top: 1.5rem;
}

.mt_4 {
  margin-top: 2rem;
}

.mb_3 {
  margin-bottom: 1.5rem;
}

.mb_4 {
  margin-bottom: 2rem;
}

.d_none {
  display: none !important;
}

@media (max-width: 768px) {
  .md_bg_gold {
    background-color: #bf9d5a;
  }
  .d_md_none {
    display: none !important;
  }
  .d_md_block {
    display: block !important;
  }
  .d_md_block img {
    max-width: 100%;
  }
  .d_md_inline {
    display: inline-block !important;
  }
  .d_md_table {
    display: table !important;
  }
  .d_md_table img {
    max-width: 100%;
  }
  .mb_md_0 {
    margin-bottom: 0;
  }
}

#fp-nav {
  top: inherit;
  bottom: 50px;
}

#fp-nav ul li a span {
  background: #ffffff;
}

.fp-controlArrow.fp-next {
  background-image: url("../images/desktop/Fillet_Right.png");
  border: none;
  width: 52px;
  height: 150px;
  opacity: 0.5;
  right: 0;
}

.fp-controlArrow.fp-prev {
  background-image: url("../images/desktop/Fillet_Left.png");
  border: none;
  width: 52px;
  height: 150px;
  opacity: 0.5;
  left: 0;
}

.fp-controlArrow.fp-next:hover {
  opacity: 1;
}

.fp-controlArrow.fp-prev:hover {
  opacity: 1;
}

@media screen and (max-width: 1280px) {
  .fp-controlArrow.fp-next {
    border-width: 25px 0 25px 21px;
  }
  .fp-controlArrow.fp-prev {
    border-width: 25px 21px 25px 0;
  }
}

@media screen and (max-width: 768px) {
  #fp-nav {
    display: none;
  }
}

.section {
  max-height: 100vh;
  overflow: hidden;
}

.Sec_img {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.Sec0home {
  height: 100vh;
  background-image: url(../images/desktop/s0bg.jpg);
  background-position: right bottom;
}

.Sec0home_content {
  max-width: 100%;
}

.Sec0home_text {
  position: absolute;
  font-size: 13px;
  color: #fff;
  bottom: 3rem;
  left: 1rem;
}

.Sec0home2 {
  height: 100vh;
  background-image: url(../images/desktop/s0bg2.jpg);
  background-position: right bottom;
}

.Sec0home2_content:nth-of-type(1) {
  position: absolute;
  top: 4rem;
  left: 3rem;
}

.Sec0home2_content:nth-of-type(2) {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
}

@media screen and (max-width: 768px) {
  .Sec0home_m {
    position: relative;
    height: 100%;
    background-image: url(../images/mobile/m-s0bg-bg.jpg);
    background-size: cover;
    background-position: center center;
  }
  .Sec0home_m img {
    margin: 0 auto;
  }
  .Sec0home2_m {
    position: relative;
    height: 100%;
    background-image: url(../images/mobile/m-s0bg-bg2.jpg);
    background-size: cover;
    background-position: center center;
  }
  .Sec0home2_m img {
    max-width: 70%;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    bottom: 15%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .Sec0home_text {
    display: block;
    color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: 48px;
    left: 8px;
  }
  .Sec0home2_text {
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: calc(50% - 24px);
    left: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .Sec0home_m {
    background-position: 80% center;
    background-size: cover;
  }
  .Sec0home_m::before {
    top: 1rem;
    left: 1rem;
    margin: 10px;
  }
  .Sec0home_m::after {
    top: 1rem;
    right: 1rem;
  }
}

.p360 {
  height: 100%;
}

.panorama-container {
  background-color: #183149;
}

.panorama-container img {
  top: -40px;
}

@media screen and (min-width: 1920px) {
  .view360.slide {
    display: none;
  }
  .Sec1img1 {
    height: 100vh;
    background-image: url(../images/desktop/s1/sec1img01.jpg);
    background-position: right -40px;
  }
}

@media (orientation: landscape) {
  .view360.slide {
    display: none;
  }
  .Sec1img1 {
    height: 100vh;
    background-image: url(../images/desktop/s1/sec1img01.jpg);
    background-position: right -40px;
  }
}

@media (orientation: portrait) {
  .view360.slide {
    display: table;
  }
  .Sec1img1 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .bus-md-bg {
    background-color: #183149;
  }
}

.Sec2_img {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.Sec2img1 {
  background-image: url(../images/desktop/s2/sec2img01.jpg);
}

.Sec2img2 {
  background-image: url(../images/desktop/s2/sec2img02.jpg);
  background-position: center center;
}

.Sec2img3 {
  background-image: url(../images/desktop/s2/sec2img03.jpg);
}

.Sec2img4 {
  background-image: url(../images/desktop/s2/sec2img04.jpg);
}

.Sec2img5 {
  background-image: url(../images/desktop/s2/sec2img05.jpg);
  background-position: right top;
}

.Sec3_img {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.Sec3img1 {
  background-image: url(../images/desktop/s3/sec3img01.jpg);
}

.Sec3img2 {
  background-image: url(../images/desktop/s3/sec3img02.jpg);
}

.Sec3img3 {
  background-image: url(../images/desktop/s3/sec3img03.jpg);
}

.Sec3img4 {
  background-image: url(../images/desktop/s3/sec3img04.jpg);
  background-position: right top;
}

.Sec3img5 {
  background-image: url(../images/desktop/s3/sec3img05.jpg);
}

.Sec3img6 {
  background-image: url(../images/desktop/s3/sec3img06.jpg);
}

.Sec3img7 {
  background-image: url(../images/desktop/s3/sec3img07.jpg);
}

.Sec3img8 {
  background-image: url(../images/desktop/s3/sec3img08.jpg);
}

.Sec3img9 {
  background-image: url(../images/desktop/s3/sec3img09.jpg);
  background-position: right top;
}

.Sec3img10 {
  background-image: url(../images/desktop/s3/sec3img10.jpg);
}

.Sec3img11 {
  background-image: url(../images/desktop/s3/sec3img11.jpg);
}

.Sec3img12 {
  background-image: url(../images/desktop/s3/sec3img12.jpg);
}

.Sec4_img {
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.Sec4img1 {
  background-image: url(../images/desktop/s4/sec4img01.jpg);
}

.Sec4img2 {
  background-image: url(../images/desktop/s4/sec4img02.jpg);
}

.Sec4img3 {
  background-image: url(../images/desktop/s4/sec4img03.jpg);
}

.Sec4img4 {
  background-image: url(../images/desktop/s4/sec4img04.jpg);
}

.desktop_slide {
  width: 90%;
  max-width: calc(100% -280px);
}

.content_box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 280px;
          flex: 1 1 280px;
  max-width: 280px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 48px;
  color: #fff;
  background-color: #003752;
}

.content_box .vertical_write {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
  font-size: 24px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  line-height: 1.5;
}

.border_content {
  padding: 48px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-weight: normal;
  text-align: justify;
  line-height: 2;
}

@media (max-width: 768px) {
  .desktop_slide {
    width: 100%;
  }
}

.Sec5_img {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.Sec5img1 {
  background-image: url(../images/desktop/s5/sec5img01.jpg);
}

.Sec5img2 {
  background-image: url(../images/desktop/s5/sec5img02.jpg);
}

.Sec5img3 {
  background-image: url(../images/desktop/s5/sec5img03.jpg);
}

.Sec5img4 {
  background-image: url(../images/desktop/s5/sec5img04.jpg);
}

.group_slide_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Sec6_img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% - 280px);
          flex: 1 1 calc(100% - 280px);
  height: 100vh;
  max-height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
}

.Sec6img1 {
  background-image: url(../images/desktop/s6/sec6img01.jpg);
}

.Sec6img2 {
  background-image: url(../images/desktop/s6/sec6img02.jpg);
}

.Sec6img3 {
  background-image: url(../images/desktop/s6/sec6img03.jpg);
}

.Sec6img4 {
  background-image: url(../images/desktop/s6/sec6img04.jpg);
}

.Sec6img5 {
  background-image: url(../images/desktop/s6/sec6img05.jpg);
}

.Sec6_content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 280px;
          flex: 1 1 280px;
  max-width: 280px;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_content {
  max-width: 200px;
  color: #595757;
}

.main_content img {
  max-width: 100%;
}

.Sec6_content_img {
  margin-bottom: 1rem;
}

.Sec6_content_title {
  margin-bottom: 1rem;
  font-size: 20px;
}

.Sec6_content_title.bd_bottom {
  padding-bottom: 1rem;
  border-bottom: 1px solid #bf9d5a;
}

.Sec6_content_title span {
  letter-spacing: -2px;
}

.Sec6_content_text {
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
}

.pos_title {
  width: 100%;
  max-width: 200px;
  color: #bf9d5a;
  font-size: 26px;
  line-height: 1;
  white-space: nowrap;
  position: absolute;
  bottom: 7%;
  letter-spacing: -1.5px;
}

.pos_title.init_space {
  letter-spacing: initial;
}

.Sec7 {
  position: relative;
}

.Sec7 .Sec7_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  max-height: 100%;
  background-color: #fff;
  position: relative;
}

.Sec7 h3 {
  width: calc(90% - 96px);
  max-width: 1280px;
  margin: 0 auto 48px auto;
  font-size: 24px;
  background-color: #fff;
  color: #bf9d5a;
  text-align: center;
  position: relative;
  z-index: 1;
}

.Sec7 h3::before {
  content: '';
  display: block;
  width: 320px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.Sec7 h3 span {
  position: relative;
  z-index: 1;
}

.Sec7 h3 .title-line {
  display: block;
  width: 100%;
  height: 1px;
  margin: 0;
  border: none;
  background-color: #bf9d5a;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.Sec7 .Sec7_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 72px;
  width: calc(90% - 96px);
  max-width: 1280px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  color: #bf9d5a;
}

.Sec7 .Sec7_grid img {
  max-width: 100%;
}

.Sec7 .Sec7_grid h4 {
  font-size: 20px;
  margin: 24px auto;
  line-height: 1.5;
  text-align: left;
}

.Sec7 .Sec7_grid p {
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  .section_md_bg {
    background-color: #bf9d5a;
  }
  .group_slide img {
    max-width: 100%;
  }
  .Sec7 h3 {
    max-width: 620px;
    margin: 0 auto 40px auto;
  }
  .Sec7 .Sec7_grid {
    max-width: 620px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 0;
    margin: 0 auto;
    line-height: 1.5;
    color: #bf9d5a;
  }
  .Sec7 .Sec7_grid h4 {
    font-size: 1.6rem;
    margin: 24px auto;
    text-align: center;
    line-height: 1.5;
  }
  .Sec7 .Sec7_grid p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 480px) {
  .Sec7 .Sec7_container {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  .Sec7 h3 {
    width: calc(100% - 32px);
    font-size: 18px;
  }
  .Sec7 h3::before {
    width: 240px;
  }
  .Sec7 .Sec7_grid {
    width: calc(100% - 32px);
  }
  .Sec7 .Sec7_grid h4 {
    font-size: 18px;
    margin: 16px auto 16px auto;
    text-align: center;
    line-height: 1.6;
  }
  .Sec7 .Sec7_grid p {
    font-size: 12px;
  }
}

.Sec8_img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
}

.Sec8img1 {
  background-size: auto 80%;
  background-image: url(../images/desktop/s8/sec8img01.png);
}

.Sec8img2 {
  background-size: 80% auto;
  background-image: url(../images/desktop/s8/sec8img02.png);
}

.Sec8_content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 280px;
          flex: 1 1 280px;
  max-width: 280px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 48px;
  color: #fff;
  background-color: #bf9d5a;
}

.Sec8_content .border_content_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Sec8_content .Sec8_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
  margin-bottom: 24px;
  font-size: 24px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 1.5;
}

.Sec8_content .border_sub_title {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 12px 0;
  margin-bottom: 24px;
  font-size: 20px;
  text-align: center;
  line-height: 1.6;
}

.Sec8_content .border_content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0;
  border: none;
  font-size: 15px;
  font-weight: normal;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 1.8;
  text-orientation: upright;
}

@media (max-width: 768px) {
  .Sec8_img_m {
    max-width: 85%;
    max-height: 320px;
    margin: 0 auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .Sec8_content {
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 2fr 2fr;
        grid-template-rows: 1fr 2fr 2fr;
    max-width: 100%;
    padding: 0;
    gap: 24px;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    background-color: #fff;
  }
  .Sec8_content .border_content_wrapper {
    padding: 24px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #bf9d5a;
    font-size: 12px;
    gap: 16px;
  }
  .Sec8_content .Sec8_title {
    margin: 0 auto;
    color: #bf9d5a;
    font-size: 18px;
    text-align: center;
    -webkit-writing-mode: initial;
        -ms-writing-mode: initial;
            writing-mode: initial;
  }
  .Sec8_content .border_sub_title {
    padding: 16px 12px;
    font-size: 13px;
    border: 1px solid #fff;
    white-space: nowrap;
  }
  .Sec8_content .border_content {
    -webkit-writing-mode: initial;
        -ms-writing-mode: initial;
            writing-mode: initial;
    font-size: 12px;
    padding-bottom: 28px;
  }
}

@media (max-width: 480px) {
  .Sec8_img_m {
    max-height: 200px;
  }
  .Sec8_content {
    -ms-grid-rows: auto 220px 2fr;
        grid-template-rows: auto 220px 2fr;
  }
  .Sec8_content .Sec8_title {
    padding-top: 1rem;
  }
  .Sec8_content .border_content_wrapper {
    padding-top: 0;
    gap: 0;
  }
  .Sec8_content .border_sub_title,
  .Sec8_content .border_content {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  .Sec8_content .border_sub_title {
    margin-right: 16px;
  }
  .Sec8_content .border_content {
    letter-spacing: -1px;
  }
}

.slide_content {
  max-width: 460px;
  position: absolute;
  color: #fff;
  top: 5rem;
}

.slide_content.pos_right {
  right: 3.5rem;
}

.slide_content.pos_left {
  left: 3.5rem;
}

.slide_content.pos_bottom {
  top: initial;
  bottom: 6rem;
}

.slide_content.bg_block {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 24px;
}

.slide_content .slide_title {
  margin-bottom: 1.5rem;
  font-size: 24px;
}

.slide_content .slide_text {
  font-size: 14px;
  line-height: 1.8;
}

.slide_content .slide_heading {
  font-size: 32px;
}

.slide_content .slide_heading_gold {
  color: #bf9d5a;
  font-size: 52px;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .card_heading {
    position: absolute;
    bottom: 4rem;
    left: 1.5rem;
  }
  .card_heading .slide_heading {
    font-size: 20px;
    color: #fff;
  }
  .card_heading .slide_heading_gold {
    color: #bf9d5a;
    font-size: 36px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.bg_repeat {
  background: url(../images/desktop/Bg_PC_01.jpg) center top repeat-y;
  background-size: contain;
}

.intro {
  margin-bottom: 100px;
}

.intro a {
  color: #ffcc00;
}

.table_wrapper {
  max-width: 680px;
  margin: 0 auto;
}

.table_wrapper .table {
  width: 100%;
}

.table_wrapper h3 {
  margin: 0;
  color: #fff;
  font-size: 24px;
  line-height: 2.4rem;
  text-align: left;
}

.table_wrapper td {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 18px;
  line-height: 2.4rem;
}

.google_map {
  max-width: 100%;
  height: 30vh;
  position: relative;
}

.google_map iframe {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 768px) {
  .intro {
    padding-top: 100px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .google_map {
    height: 30vh;
  }
}

@media (max-width: 480px) {
  .table_wrapper h3 {
    font-size: 18px;
  }
  .table_wrapper tbody tr td {
    padding: 8px 0;
    font-size: 12px;
  }
  .intro {
    padding: 0 1rem;
    margin-bottom: 0;
  }
}

.form_wrapper {
  max-width: 710px;
  margin: 0 auto;
}

.form_title {
  margin-bottom: 2rem;
  color: #fff;
  font-weight: bold;
}

.form-control {
  height: auto;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.policy {
  margin-bottom: 1rem;
  color: #fff;
  line-height: 1.5;
}

.form-check-label {
  margin-bottom: 1.5rem;
  color: #fff;
  font-weight: normal;
  cursor: pointer;
}

.form-check-label a {
  padding-left: 4px;
  color: #ffcc00;
}

.form-check-label a:hover {
  text-decoration: underline;
}

.btn {
  color: #183149;
  border-radius: 4px;
  background-color: #fff;
  font-family: MSungHK, "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  cursor: pointer;
}

.btn:hover {
  color: #183149;
  background-color: #ffcc00;
}

.btn_secondary {
  color: #fff;
  background-color: #337ab7;
  border: 0;
  font-weight: normal;
}

@media (max-width: 996px) {
  .btn_secondary {
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .form_title {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 22px;
  }
  .form-control,
  .btn_secondary {
    margin-bottom: .5rem;
  }
  .form-control,
  .btn,
  .btn_secondary {
    font-size: 15px;
  }
  .policy {
    margin-bottom: 8px;
    font-size: 12px;
    letter-spacing: -1px;
  }
  .form-check-label {
    margin-bottom: 12px;
    font-size: 12px;
  }
}

.card {
  padding: 1.5rem;
  color: #595757;
  background-color: #fff;
}

.card_title {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.5;
}

.card_content {
  margin-bottom: 1rem;
  padding: 0 2rem;
  font-size: 1.1rem;
  line-height: 1.6;
}

.card_gold {
  padding: 1.5rem;
  color: #fff;
  background-color: #BF9D5A;
}

.card_gold .card_title {
  margin-top: 2rem;
}

.card_gold .card_title.extra {
  margin-top: .5rem;
}

.card_gold .card_content {
  margin-bottom: 2rem;
}

.card_bg_blue {
  color: #fff;
  background-color: #183149;
}

@media (max-width: 480px) {
  .card,
  .card_gold {
    padding: 1rem;
  }
  .card_title {
    margin-bottom: 1rem;
    font-size: 18px;
  }
  .card_content {
    padding: 0 1rem;
    font-size: 12px;
  }
  .card_gold .card_title {
    margin-top: 0;
  }
  .letter_space {
    letter-spacing: -2px;
  }
  .letter_space__plus {
    letter-spacing: -4px;
  }
  .letter_space__plus2 {
    letter-spacing: -5px;
  }
}

.img_grid {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% - 280px);
          flex: 1 1 calc(100% - 280px);
  height: 100vh;
  display: -ms-grid;
  display: grid;
  grid-gap: 4px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "G1 G1 G2 G2" "G1 G1 G2 G2" "G1 G1 G3 G3" "G1 G1 G3 G3";
}

.img_grid__2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% - 280px);
          flex: 1 1 calc(100% - 280px);
  height: 100vh;
  display: -ms-grid;
  display: grid;
  grid-gap: 4px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "G1 G1 G3 G3" "G1 G1 G3 G3" "G2 G2 G4 G4" "G2 G2 G4 G4";
}

.img_grid__3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% - 280px);
          flex: 1 1 calc(100% - 280px);
  height: 100vh;
  display: -ms-grid;
  display: grid;
  grid-gap: 4px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "G1 G1 G2 G2" "G1 G1 G2 G2" "G1 G1 G2 G2" "G1 G1 G2 G2";
}

.g_img {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
}

.g_img img {
  width: auto;
  max-height: 100%;
}

.g1_1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: G1;
}

.g1_2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: G2;
}

.g1_3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: G3;
}

.g1_4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: G4;
}

.p1img_1 {
  background-image: url(../images/desktop/s6/g1-1.jpg);
}

.p1img_2 {
  background-image: url(../images/desktop/s6/g1-2.jpg);
}

.p1img_3 {
  background-image: url(../images/desktop/s6/g1-3.jpg);
}

.p2img_1 {
  background-image: url(../images/desktop/s6/g2-1.jpg);
}

.p2img_2 {
  background-image: url(../images/desktop/s6/g2-2.jpg);
}

.p2img_3 {
  background-image: url(../images/desktop/s6/g2-3.jpg);
}

.p3img_1 {
  background-image: url(../images/desktop/s6/g3-1.jpg);
}

.p3img_2 {
  background-image: url(../images/desktop/s6/g3-2.jpg);
}

.p3img_3 {
  background-image: url(../images/desktop/s6/g3-3.jpg);
}

.p3img_4 {
  background-image: url(../images/desktop/s6/g3-4.jpg);
}

.p4img_1 {
  background-image: url(../images/desktop/s6/g4-1.jpg);
}

.p4img_2 {
  background-image: url(../images/desktop/s6/g4-2.jpg);
}

.p4img_3 {
  background-image: url(../images/desktop/s6/g4-3.jpg);
}

.p5img_1 {
  background-image: url(../images/desktop/s6/g5-1.jpg);
}

.p5img_2 {
  background-image: url(../images/desktop/s6/g5-2.jpg);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 48px;
  position: fixed;
  bottom: 0;
  background-color: #183149;
  border-top: 1px solid #ffffff;
  text-align: right;
  z-index: 999;
}

.footer ul {
  margin: 0;
}

.footer ul li {
  display: inline-block;
  font-size: 17px;
  color: #ffffff;
  padding: 0 4px;
  font-family: MSungHK, "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.footer ul li:first-of-type {
  padding-right: 10px;
  border-right: 1px solid #e5c058;
}

.footer a {
  font-size: 17px;
  color: #ffffff;
  text-decoration: none;
}

.logo {
  width: 128px;
  height: auto;
}

.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 8px;
  }
  .logo {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */