@font-face {
    font-family: MSungHK;
    src: url('../font/MSungHK-Medium.otf');
}


/* 
================================================
--- MOBILE CSS 
================================================
*/
body {
    font-family: MSungHK,"微軟正黑體", "Microsoft JhengHei", 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

h1 {
    font-family: MSungHK,"微軟正黑體", "Microsoft JhengHei", 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: #fff;
    letter-spacing: 0.1px;
}
h6 {
    font-family: MSungHK,"微軟正黑體", "Microsoft JhengHei", 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
}


.content {
	width: 60%;
	margin: 0 auto;

}
.h40 { width: 100%; height: 40px;}
img { width: 100%; }

.fp-controlArrow.fp-next {
    background-image: url('../images/desktop/Fillet_Right.png');
    border: none;
    width: 52px;
    height: 150px;
    opacity:0.5;
    right:0;
}

    .fp-controlArrow.fp-prev {
        background-image: url('../images/desktop/Fillet_Left.png');
        border: none;
        width: 52px;
        height: 150px;
        opacity: 0.5;
        left:0;
    }
.fp-controlArrow.fp-next:hover  {
    opacity: 1;
}
.fp-controlArrow.fp-prev:hover {
    opacity: 1;
}


.logo_dek {
    position: fixed;
    z-index: 999;
    /*top: 27px;*/
    bottom: 0px;
    left: 77px;
}
@media screen and (max-width: 800px) {
	.logo_dek{left: 27px;}
}
.logo_dek img {
    padding: 3px;
    height: 30px;
    width: 73%;
}

@media screen and (max-width: 1599px) {
h1 {font-size: 30px;}
h6 {font-size: 14px;}
}

@media screen and (max-width: 1299px) {
h1 {font-size: 26px;}
h6 {font-size: 12px;}
.fp-controlArrow.fp-next {
    border-width: 25px 0 25px 21px;}
.fp-controlArrow.fp-prev {
    border-width: 25px 21px 25px 0;}
}

/*-- S0 --*/
.Sec0home {background: url(../images/desktop/s0bg.jpg) center top no-repeat;}
.Sec0home {
	background-size:cover;
	height:100vh;}
.desktopbr {display: none;}
#fp-nav {top: inherit;bottom: 50px;}
#fp-nav ul li a span {
	background:#ffffff;
}

.Sec1home{
    background-size:cover;
    height:100vh;}


/*-- S0 --*/


/*-- S1 --*/
#section1 {position: relative;}
#section1 .p360 {
    height: 100%;
}

@media screen and (min-width: 1920px) {
    .view360.slide {
        display: none;
    }
    .Sec1img1 {
        background: url(../images/desktop/s1/sec1img01.jpg) center top no-repeat;
        background-size: cover;
        height: 100vh;
        position: relative;
    }
}

/*.Sec1img1 {
    background: url(/nanjing/images/desktop/s1/sec1img01.jpg) center top no-repeat;
}
@media screen and (max-width: 800px) {
.Sec1img1 {background: url(/nanjing/images/desktop/s1/sec1img01.jpg) center  top no-repeat;}
}
.Sec1img1{
	background-size:cover;
	height:100vh;
    position: relative;
}*/
/*-- S1 --*/

/*-- S2 --*/
#section2 {
    position: relative;
}

.Sec2img1 {
    background: url(../images/desktop/s2/sec2img01.jpg) right top no-repeat;
}

.Sec2img2 {
    background: url(../images/desktop/s2/sec2img02.jpg) right top no-repeat;
}

.Sec2img3 {
    background: url(../images/desktop/s2/sec2img03.jpg) right top no-repeat;
}

.Sec2img4 {
    background: url(../images/desktop/s2/sec2img04.jpg) right top no-repeat;
}

.Sec2img5 {
    background: url(../images/desktop/s2/sec2img05.jpg) right top no-repeat;
}

/*@media screen and (max-width: 800px) {
    .Sec2img1 {
        background: url(/nanjing/images/desktop/s2/sec2img01.jpg) right -57px top no-repeat;
    }
    .Sec2img2 {
        background: url(/nanjing/images/desktop/s2/sec2img02.jpg) right -100px top no-repeat;
    }
    .Sec2img3 {
        background: url(/nanjing/images/desktop/s2/sec2img03.jpg) right -100px top no-repeat;
    }
    .Sec2img4 {
        background: url(/nanjing/images/desktop/s2/sec2img04.jpg) right -100px top no-repeat;
    }
    .Sec2img5 {
        background: url(/nanjing/images/desktop/s2/sec2img05.jpg) right -100px top no-repeat;
    }
}*/

.Sec2img1, .Sec2img2, .Sec2img3, .Sec2img4, .Sec2img5 {
    background-size: cover;
    height: 100vh;
    position: relative;
}

.s2lftpos {
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 16%;
    right: 3%;
}


/*-- S2 --*/


/*-- S3 --*/
#section3 {
    position: relative;
}

.Sec3img1 {
    background: url(../images/desktop/s3/sec3img01.jpg) right top no-repeat;
}

.Sec3img2 {
    background: url(../images/desktop/s3/sec3img02.jpg) right top no-repeat;
}

.Sec3img3 {
    background: url(../images/desktop/s3/sec3img03.jpg) right top no-repeat;
}

.Sec3img4 {
    background: url(../images/desktop/s3/sec3img04.jpg) right top no-repeat;
}

.Sec3img5 {
    background: url(../images/desktop/s3/sec3img05.jpg) right top no-repeat;
}
.Sec3img6 {
    background: url(../images/desktop/s3/sec3img06.jpg) right top no-repeat;
}

.Sec3img7 {
    background: url(../images/desktop/s3/sec3img07.jpg) right top no-repeat;
}

.Sec3img8 {
    background: url(../images/desktop/s3/sec3img08.jpg) right top no-repeat;
}

.Sec3img9 {
    background: url(../images/desktop/s3/sec3img09.jpg) right top no-repeat;
}

.Sec3img10 {
    background: url(../images/desktop/s3/sec3img10.jpg) right top no-repeat;
}

.Sec3img11 {
    background: url(../images/desktop/s3/sec3img11.jpg) right top no-repeat;
}

.Sec3img12 {
    background: url(../images/desktop/s3/sec3img12.jpg) right top no-repeat;
}

.Sec3img1, .Sec3img2, .Sec3img3, .Sec3img4, .Sec3img5, .Sec3img6, .Sec3img7, .Sec3img8, .Sec3img9, .Sec3img10, .Sec3img11, .Sec3img12 {
    background-size: cover;
    height: 100vh;
    position: relative;
}

.s3lftpos {
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 16%;
    right: 3%;
}

/*-- S3 --*/




/*-- S4 --*/
#section3 {
    position: relative;
}

.Sec4img1 {
    background: url(../images/desktop/s4/sec4img01.jpg) right top no-repeat;
}

.Sec4img2 {
    background: url(../images/desktop/s4/sec4img02.jpg) right top no-repeat;
}

.Sec4img3 {
    background: url(../images/desktop/s4/sec4img03.jpg) right top no-repeat;
}

.Sec4img4 {
    background: url(../images/desktop/s4/sec4img04.jpg) right top no-repeat;
}


.Sec4img1, .Sec4img2, .Sec4img3, .Sec4img4{
    background-size: cover;
    height: 100vh;
    position: relative;
}

.s4lftpos {
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 16%;
    right: 3%;
}


/*-- S4 --*/

/*-- S5 --*/
#google_map {
    padding-top:60px;
    width: 100%;
    height: 30vh;
    display: inline-block;
    vertical-align: middle;
}

    #google_map iframe {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 430px;
    }

#section5 {
    background: url(../images/desktop/BG_PC_01.jpg) center top repeat-y;
}

    #section5 .content {
        padding-bottom: 4em;
    }

    #section5 .photo {
        width: 50%;
        margin: 2em auto;
    }

        #section5 .photo img {
            width: 100%;
        }

    #section5 .text {
        width: 35%;
        display: inline-block;
        vertical-align: top;
        padding-bottom: 10%;
    }

@media screen and (max-width: 1200px) {
    #section5 .text {
        width: 45%;
    }
}

@media screen and (max-width: 992px) {
    #section5 .text {
        width: 55%;
    }
}

@media screen and (max-width: 768px) {
    #section5 .text {
        width: 70%;
    }
}

@media screen and (max-width: 576px) {
    #section5 .text {
        width: 80%;
    }
}

@media screen and (max-height: 1024px) {
    #google_map {
        padding-top: 30px;
        width: 100%;
        height: 30vh;
        display: inline-block;
        vertical-align: middle;
    }

        #google_map iframe {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 330px;
        }

    #section5 .text {
        padding-bottom: 5%;
    }
}

@media screen and (max-height: 720px) {
    #google_map {
        padding-top: 30px;
        width: 100%;
        height: 30vh;
        display: inline-block;
        vertical-align: middle;
    }

        #google_map iframe {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 230px;
        }
    #section5 .text {
        padding-bottom: 0%;
    }
  
}


  



    #section5 .tableline {
        /*    border-top: 1px solid #C09D5B;
    border-bottom: 1px solid #C09D5B;
    padding: 12% 0;*/
    }

    #section5 .text .tableline table {
        width: 100%;
    }

        #section5 .text .tableline table th {
            padding-bottom: 8px;
            line-height: 1.5em;
            text-align: left;
            font-size: 20px;
            color: white;
            border-bottom: 1px solid rgba(255,255,255,0.5);
        }

        #section5 .text .tableline table td {
            padding-bottom: 8px;
            line-height: 1.5em;
            text-align: left;
            font-size: 18px;
            color: white;
            border-bottom: 1px solid rgba(255,255,255,0.5);
        }

            #section5 .text .tableline table td:nth-child(1) {
                width: 100px;
            }

    #section5 .text .storey38 {
        width: 90%;
        margin: 0 auto;
        padding: 20px 0;
    }

        #section5 .text .storey38 img {
            width: 90%;
        }

    @media screen and (max-width: 1349px) {
        #section5 .text .tableline table tr td {
            font-size: 16px;
        }

        #section5 .text .tableline table td:nth-child(1) {
            width: 80px;
        }

        .desktopbr {
            display: block;
        }
    }

    /*@media screen and (max-width: 999px) {
    #google_map {
        width: 100%;
        height: 40vh;
        display: block;
        vertical-align: top;
    }

    #section5 .text {
        width: 80%;
        margin: 0 auto;
        display: block;
        vertical-align: top;
    }

        #section5 .text .storey38 {
            width: 60%;
            margin: 0 auto;
            padding: 20px 0;
        }

    #section5 .tableline {
        border-top: 1px solid #C09D5B;
        border-bottom: 1px solid #C09D5B;
        padding: 5% 0;
    }

    .desktopbr {
        display: none;
    }
}*/

    /*-- S5 --*/


    /*-- S6 --*/
    #section6 {
        background: url(../images/desktop/Bg_PC_02_Long.jpg) center top repeat-y;
    }

        #section6 .content {
            padding-bottom: 4em;
        }

        #section6 .photo {
            width: 50%;
            margin: 2em auto;
        }

            #section6 .photo img {
                width: 100%;
            }

        #section6 .text {
            width: 40%;
            display: inline-block;
            vertical-align: top;
        }

    @media screen and (max-width: 1200px) {
        #section6 .text {
            width: 45%;
        }
    }

    @media screen and (max-width: 992px) {
        #section6 .text {
            width: 55%;
        }
    }

    @media screen and (max-width: 768px) {
        #section6 .text {
            width: 70%;
        }
    }

    @media screen and (max-width: 576px) {
        #section6 .text {
            width: 80%;
        }
    }

    #section6 .tableline {
        /*    border-top: 1px solid #C09D5B;
    border-bottom: 1px solid #C09D5B;
    padding: 12% 0;*/
    }

    #section6 .text .tableline table {
        width: 100%;
    }

        #section6 .text .tableline table th {
            padding-bottom: 8px;
            line-height: 1.5em;
            text-align: center;
            font-size: 22px;
            color: white;
        }

        #section6 .text .tableline table td {
            padding: 5px;
            line-height: 1.5em;
            text-align: left;
            font-size: 12px;
            color: white;
            height: 35px
        }

            #section6 .text .tableline table td a {
                color: yellow;
            }

            #section6 .text .tableline table td input {
                height: 100%;
                width: 100%;
            }

                #section6 .text .tableline table td input::placeholder {
                    color: #003853;
                    font-weight: bold;
                }

                #section6 .text .tableline table td input:-ms-input-placeholder {
                    color: #003853;
                    font-weight: bold;
                }

                #section6 .text .tableline table td input::-ms-input-placeholder {
                    color: #003853;
                    font-weight: bold;
                }

    #section6 .textTitle {
        line-height: 2.5em;
        text-align: left;
        font-size: 12px;
    }

    #section6 .textSub {
        line-height: 2em;
        text-align: left;
        font-size: 12px;
    }

    #section6 .text .tableline table td input[type="checkbox"] {
        height: 12px;
        width: 12px;
    }

    #section6 .sent {
        width: 100%;
        height: 50px;
        font-size: 18px;
        color: #003853;
        font-weight: bold;
        background-color: #ffffff;
        font-family: MSungHK,"微軟正黑體", "Microsoft JhengHei", 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    }



    #section6 .text .storey38 {
        width: 90%;
        margin: 0 auto;
        padding: 20px 0;
    }

        #section6 .text .storey38 img {
            width: 90%;
        }

    @media screen and (max-width: 1349px) {
        #section6 .text .tableline table tr td {
            font-size: 16px;
        }

        /*    #section6 .text .tableline table td:nth-child(1) {
        width: 80px;
    }*/

        .desktopbr {
            display: block;
        }
    }


    /*-- S6 --*/


    /*-- S8 --*/

    #section8 ul {
        width: 50%;
        margin: 3% auto;
        font-size: 0px;
    }

        #section8 ul li {
            width: 24%;
            display: inline-table;
            text-align: center;
        }

            #section8 ul li a {
                text-decoration: none;
                color: #000000;
            }

            #section8 ul li img {
                width: 76%;
            }

            #section8 ul li span {
                display: block;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 1px;
                text-align: center;
                padding: 10px;
                font-family: MSungHK,"微軟正黑體", "Microsoft JhengHei", 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
            }

    #section8 {
        width: 100%;
        position: relative;
        margin: 0 auto;
    }

    #lineupto {
        text-align: left;
    }


    #section8 .content {
        padding-bottom: 1em;
    }

    #section8 h2 {
        color: #454545;
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    #section8 h3 {
        color: #454545;
        font-size: 22px;
        font-weight: 600;
        padding-bottom: 20px;
    }

    #section8 p {
        padding-bottom: 10px;
        color: #000;
        font-size: 16px;
        font-family: MSungHK,"微軟正黑體", "Microsoft JhengHei", 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    }

    .red {
        color: #ff0000;
    }

    #section8 table {
        width: 100%;
        margin: 2% 0;
    }

        #section8 table td {
            padding: 10px 0;
            font-family: MSungHK,"微軟正黑體", "Microsoft JhengHei", 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
        }

        #section8 table .inputbox {
            width: 100%;
            height: 30px;
            border: 1px solid #999999;
            border-radius: 5px;
            text-indent: 10px;
            font-size: .9em;
            font-family: MSungHK,"微軟正黑體", "Microsoft JhengHei", 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
        }

        #section8 table .selectbox {
            width: 100%;
            height: 30px;
            border: 1px solid #999999;
            border-radius: 5px;
            text-indent: 6px;
            font-size: .8em;
            font-family: MSungHK,"微軟正黑體", "Microsoft JhengHei", 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
        }

    .checkbox {
        padding: 15px 0;
        font-size: 16px;
    }

        .checkbox input[type="checkbox"] {
            display: none;
        }

            .checkbox input[type="checkbox"] + label {
                cursor: pointer;
            }

                .checkbox input[type="checkbox"] + label span {
                    display: inline-block;
                    width: 24px;
                    height: 20px;
                    margin: -2px 4px 0 0;
                    vertical-align: middle;
                    background: url(../images/desktop/checkbox-checked.png) right top no-repeat;
                }

            .checkbox input[type="checkbox"]:checked + label span {
                background: url(../images/desktop/checkbox-checked.png) left top no-repeat;
            }

    button {
        cursor: pointer;
        border: 0;
    }

    .sent {
        width: 300px;
        height: 50px;
        font-size: 20px;
        color: #ffffff;
        border-radius: 5px;
        background-color: #999999;
        font-family: MSungHK,"微軟正黑體", "Microsoft JhengHei", 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    }

    @media screen and (max-width: 1299px) {
        .content {
            width: 60%;
        }

        .checkbox {
            padding: 10px 0;
        }

        #section8 h3 {
            padding-bottom: 20px;
        }

        #section8 ul {
            width: 60%;
            margin-bottom: 0;
        }

        #section8 h2 {
            font-size: 22px;
        }

        #section8 table {
            margin: 0.5% 0;
        }

            #section8 table td {
                padding: 5px 0;
            }

        #section8 h3 {
            font-size: 17px;
            padding-bottom: 10px;
        }

        #section8 p {
            font-size: 12px;
        }

        .sent {
            width: 150px;
            height: 30px;
            font-size: 17px;
        }

        #section8 .content {
            padding-top: 0;
        }
    }

    @media screen and (max-width: 1199px) {
        #section8 ul {
            margin-bottom: 0;
        }

        #section8 .content {
            padding-top: 0;
        }

        #section8 h2 {
            font-size: 22px;
        }

        #section8 table td {
            padding: 5px 0;
        }

        #section8 h3 {
            font-size: 17px;
        }

        #section8 p {
            font-size: 13px;
        }
    }

    @media screen and (max-width: 999px) {
        .content {
            width: 70%;
        }

        #section8 ul {
            width: 80%;
        }
    }


    /*-- S8 --*/



    /*-- footer --*/

    #footer {
        width: 100%;
        height: 40px;
        background-color: #183149;
        text-align: right;
        position: fixed;
        bottom: 0;
        vertical-align: middle;
        border-top: 1px solid #FFFFFF;
    }

        #footer ul {
            width: 98%;
            padding-top: 10px;
        }

            #footer ul li {
                display: inline-block;
                font-size: 17px;
                color: #FFFFFF;
                padding: 0 5px;
                font-family: MSungHK,"微軟正黑體", "Microsoft JhengHei", 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
            }

                #footer ul li:nth-child(1) {
                    padding-right: 10px;
                }

                #footer ul li a {
                    font-size: 17px;
                    color: #FFFFFF;
                    text-decoration: none;
                }



    /*-- footer --*/
