.card {
  padding: 1.5rem;
  color: #595757;
  background-color: #fff;
}

.card_title {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.5;
}

.card_content {
  margin-bottom: 1rem;
  padding: 0 2rem;
  font-size: 1.1rem;
  line-height: 1.6;
}

.card_gold {
  padding: 1.5rem;
  color: #fff;
  background-color: #BF9D5A;
  .card_title {
    margin-top: 2rem;
    &.extra {
      margin-top: .5rem;
    }
  }
  .card_content {
    margin-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  .card,
  .card_gold {
    padding: 1rem;
  }

  .card_title {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }

  .card_content {
    font-size: 1rem;
  }
}