.Sec_img {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
// 主視覺
.Sec0home {
  height: 100vh;
  background-image: url(../images/desktop/s0bg.jpg);
  background-position: center top;
}
.Sec0home_text {
  display: none;
}
@media screen and (max-width: 900px) {
  .Sec0home {
    background-image: url(../images/desktop/s0bg-md.jpg);
    background-position: center center;
  }
}

@media screen and (max-width: 768px) {
  .Sec0home_m {
    position: relative;
    height: 100%;
    background-image: url(../images/mobile/m-s0bg-bg.jpg);
    background-position: 55% center;
    &::before {
      content: '';
      display: block;
      width: 20%;
      max-width: 120px;
      height: 200px;
      background-image: url(../images/mobile/m-s0bg-1.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 5%;
      left: 5%;
      z-index: 1;
    }
    &::after {
      content: '';
      display: block;
      width: 50%;
      max-width: 340px;
      height: 180px;
      background-image: url(../images/mobile/m-s0bg-2.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 5%;
      right: 5%;
      z-index: 1;
    }
  }
  .Sec0home_text {
    display: block;
    color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: 48px;
    left: 8px;
  }
}

@media screen and (max-width: 480px) {
  .Sec0home_m {
    background-position: 55% 45%;
  }
  .Sec0home_m::before {
    top: 1rem;
    left: 1rem;
  }
  .Sec0home_m::after {
    top: 1rem;
    right: 1rem;
  }
}

// 空拍
.p360 {
  height: 100%;
}
@media screen and (min-width: 1920px) {
  .view360.slide {
    display: none;
  }
  .Sec1img1 {
    height: 100vh;
    background-image: url(../images/desktop/s1/sec1img01.jpg);
    background-position: right top;
  }
}

// 交通
.Sec2_img {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}
.Sec2img1 {
  background-image: url(../images/desktop/s2/sec2img01.jpg);
}
.Sec2img2 {
  background-image: url(../images/desktop/s2/sec2img02.jpg);
}
.Sec2img3 {
  background-image: url(../images/desktop/s2/sec2img03.jpg);
}
.Sec2img4 {
  background-image: url(../images/desktop/s2/sec2img04.jpg);
}
.Sec2img5 {
  background-image: url(../images/desktop/s2/sec2img05.jpg);
  background-position: right top;
}
// 生活機能
.Sec3_img {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}
.Sec3img1 {
  background-image: url(../images/desktop/s3/sec3img01.jpg);
}
.Sec3img2 {
  background-image: url(../images/desktop/s3/sec3img02.jpg);
}
.Sec3img3 {
  background-image: url(../images/desktop/s3/sec3img03.jpg);
}
.Sec3img4 {
  background-image: url(../images/desktop/s3/sec3img04.jpg);
  background-position: right top;
}
.Sec3img5 {
  background-image: url(../images/desktop/s3/sec3img05.jpg);
}
.Sec3img6 {
  background-image: url(../images/desktop/s3/sec3img06.jpg);
}
.Sec3img7 {
  background-image: url(../images/desktop/s3/sec3img07.jpg);
}
.Sec3img8 {
  background-image: url(../images/desktop/s3/sec3img08.jpg);
}
.Sec3img9 {
  background-image: url(../images/desktop/s3/sec3img09.jpg);
  background-position: right top;
}
.Sec3img10 {
  background-image: url(../images/desktop/s3/sec3img10.jpg);
}
.Sec3img11 {
  background-image: url(../images/desktop/s3/sec3img11.jpg);
}
.Sec3img12 {
  background-image: url(../images/desktop/s3/sec3img12.jpg);
}
// 外觀
.Sec4_img {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.Sec4img1 {
  background-image: url(../images/desktop/s4/sec4img01.jpg);
}
.Sec4img2 {
  background-image: url(../images/desktop/s4/sec4img02.jpg);
}
.Sec4img3 {
  background-image: url(../images/desktop/s4/sec4img03.jpg);
}
.Sec4img4 {
  background-image: url(../images/desktop/s4/sec4img04.jpg);
}
.desktop_slide {
  width: 90%;
  max-width: calc(100% -280px);
}
.content_box {
  flex: 1 1 280px;
  max-width: 280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 48px;
  color: #fff;
  background-color: #003752;
  .vertical_write {
    margin-bottom: 48px;
    font-size: 24px;
    writing-mode: vertical-lr;
    line-height: 1.5;
  }
}
.border_content {
  padding: 48px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-weight: normal;
  line-height: 2;
}

@media (max-width: 768px) {
  .desktop_slide {
    width: 100%;
  }
}

// 景觀
.Sec5_img {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}
.Sec5img1 {
  background-image: url(../images/desktop/s5/sec5img01.jpg);
}
.Sec5img2 {
  background-image: url(../images/desktop/s5/sec5img02.jpg);
}
.Sec5img3 {
  background-image: url(../images/desktop/s5/sec5img03.jpg);
}
.Sec5img4 {
  background-image: url(../images/desktop/s5/sec5img04.jpg);
}

// 團隊
.group_slide_container {
  display: flex;
}

.Sec6_img {
  flex: 1 1 calc(100% - 280px);
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
}
.Sec6img1 {
  background-image: url(../images/desktop/s6/sec6img01.jpg);
}
.Sec6img2 {
  background-image: url(../images/desktop/s6/sec6img02.jpg);
}
.Sec6img3 {
  background-image: url(../images/desktop/s6/sec6img03.jpg);
}
.Sec6img4 {
  background-image: url(../images/desktop/s6/sec6img04.jpg);
}
.Sec6img5 {
  background-image: url(../images/desktop/s6/sec6img05.jpg);
}

.Sec6_content {
  flex: 1 1 280px;
  max-width: 280px;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_content {
  max-width: 200px;
  margin-bottom: 3rem;
  color: #595757;
  img {
    max-width: 100%;
  }
}

.Sec6_content_img {
  margin-bottom: 1rem;
}

.Sec6_content_title {
  margin-bottom: 1rem;
  font-size: 20px;
  &.bd_bottom {
    padding-bottom: 1rem;
    border-bottom: 1px solid #bf9d5a;
  }
  span {
    letter-spacing: -2px;
  }
}
.Sec6_content_text {
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
}
.pos_title {
  width: 100%;
  max-width: 220px;
  color: #bf9d5a;
  font-size: 42px;
  line-height: 1;
  white-space: nowrap;
  position: absolute;
  bottom: 7%;
  span {
    letter-spacing: -1.5px;
  }
}


@media screen and (max-width: 768px) {
  .life_md_bg {
    background-color: #bf9d5a;
  }

  .group_slide {
    img {
      max-width: 100%;
    }
  }
}

// 文字區塊
.slide_content {
  max-width: 460px;
  position: absolute;
  color: #fff;
  &.pos_right {
    right: 3.5rem;
    top: 5rem;
  }
  &.pos_left {
    top: 5rem;
    left: 3.5rem;
  }
  .slide_title {
    margin-bottom: 1.5rem;
    font-size: 24px;
  }
  .slide_text {
    font-size: 14px;
    line-height: 1.8;
  }
}