.section {
  max-height: 100vh;
  overflow: hidden;
}

.Sec_img {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
// 主視覺
.Sec0home {
  height: 100vh;
  background-image: url(../images/desktop/s0bg.jpg);
  background-position: right bottom;
}

.Sec0home_content {
  max-width: 100%;
}

.Sec0home_text {
  position: absolute;
  font-size: 13px;
  color: #fff;
  bottom: 3rem;
  left: 1rem;
}

.Sec0home2 {
  height: 100vh;
  background-image: url(../images/desktop/s0bg2.jpg);
  background-position: right bottom;
}

.Sec0home2_content {
  &:nth-of-type(1) {
    position: absolute;
    top: 4rem;
    left: 3rem;
  }
  &:nth-of-type(2) {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
  }
}

// @media screen and (max-width: 900px) {
//   .Sec0home {
//     background-image: url(../images/desktop/s0bg-md.jpg);
//     background-position: center center;
//   }
// }

@media screen and (max-width: 768px) {
  .Sec0home_m {
    position: relative;
    height: 100%;
    background-image: url(../images/mobile/m-s0bg-bg.jpg);
    background-size: cover;
    background-position: center center;
    img {
      margin: 0 auto;
    }
  }
  .Sec0home2_m {
    position: relative;
    height: 100%;
    background-image: url(../images/mobile/m-s0bg-bg2.jpg);
    background-size: cover;
    background-position: center center;
    img {
      max-width: 70%;
      position: absolute;
      margin: 0 auto;
      left: 50%;
      bottom: 15%;
      transform: translateX(-50%);
    }
  }
  .Sec0home_text {
    display: block;
    color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: 48px;
    left: 8px;
  }
  .Sec0home2_text {
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: calc(50% - 24px);
    left: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .Sec0home_m {
    background-position: 80% center;
    background-size: cover;
  }
  .Sec0home_m::before {
    top: 1rem;
    left: 1rem;
    margin: 10px;
  }
  .Sec0home_m::after {
    top: 1rem;
    right: 1rem;
  }
}

// 影片
#video-section {
  overflow: hidden;
  position: relative;
  .layer{
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

.video{
  position: absolute;
  right: 0;
  bottom: 0;
  top:0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  // background-image: ;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  z-index: 3;
}

// 空拍
.p360 {
  height: 100%;
}

.panorama-container {
  background-color: #183149;
  img {
    top: -40px;
  }
}

@media screen and (min-width: 1920px) {
  .view360.slide {
    display: none;
  }
  .Sec1img1 {
    height: 100vh;
    background-image: url(../images/desktop/s1/sec1img01.jpg);
    background-position: right -40px;
  }
}

@media (orientation: landscape) {
  .view360.slide {
    display: none;
  }
  .Sec1img1 {
    height: 100vh;
    background-image: url(../images/desktop/s1/sec1img01.jpg);
    background-position: right -40px;
    // background-repeat: repeat-y;
  }
}

@media (orientation: portrait) {
  .view360.slide {
    display: table;
  }
  .Sec1img1 {
   display: none;
  }
}
// 公車
@media screen and (max-width: 768px) {
  .bus-md-bg {
    background-color: #183149;
  }

}

// 交通
.Sec2_img {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}
.Sec2img1 {
  background-image: url(../images/desktop/s2/sec2img01.jpg);
}
.Sec2img2 {
  background-image: url(../images/desktop/s2/sec2img02.jpg);
  background-position: center center;
}
.Sec2img3 {
  background-image: url(../images/desktop/s2/sec2img03.jpg);
}
.Sec2img4 {
  background-image: url(../images/desktop/s2/sec2img04.jpg);
}
.Sec2img5 {
  background-image: url(../images/desktop/s2/sec2img05.jpg);
  background-position: right top;
}
// 生活機能
.Sec3_img {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}
.Sec3img1 {
  background-image: url(../images/desktop/s3/sec3img01.jpg);
}
.Sec3img2 {
  background-image: url(../images/desktop/s3/sec3img02.jpg);
}
.Sec3img3 {
  background-image: url(../images/desktop/s3/sec3img03.jpg);
}
.Sec3img4 {
  background-image: url(../images/desktop/s3/sec3img04.jpg);
  background-position: right top;
}
.Sec3img5 {
  background-image: url(../images/desktop/s3/sec3img05.jpg);
}
.Sec3img6 {
  background-image: url(../images/desktop/s3/sec3img06.jpg);
}
.Sec3img7 {
  background-image: url(../images/desktop/s3/sec3img07.jpg);
}
.Sec3img8 {
  background-image: url(../images/desktop/s3/sec3img08.jpg);
}
.Sec3img9 {
  background-image: url(../images/desktop/s3/sec3img09.jpg);
  background-position: right top;
}
.Sec3img10 {
  background-image: url(../images/desktop/s3/sec3img10.jpg);
}
.Sec3img11 {
  background-image: url(../images/desktop/s3/sec3img11.jpg);
}
.Sec3img12 {
  background-image: url(../images/desktop/s3/sec3img12.jpg);
}
// 外觀
.Sec4_img {
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.Sec4img1 {
  background-image: url(../images/desktop/s4/sec4img01.jpg);
}
.Sec4img2 {
  background-image: url(../images/desktop/s4/sec4img02.jpg);
}
.Sec4img3 {
  background-image: url(../images/desktop/s4/sec4img03.jpg);
}
.Sec4img4 {
  background-image: url(../images/desktop/s4/sec4img04.jpg);
}
.desktop_slide {
  width: 90%;
  max-width: calc(100% -280px);
}
.content_box {
  flex: 1 1 280px;
  max-width: 280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 48px;
  color: #fff;
  background-color: #003752;
  .vertical_write {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    font-size: 24px;
    writing-mode: vertical-lr;
    line-height: 1.5;
  }
}
.border_content {
  padding: 48px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-weight: normal;
  text-align: justify;
  line-height: 2;
}

@media (max-width: 768px) {
  .desktop_slide {
    width: 100%;
  }
}

// 景觀
.Sec5_img {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}
.Sec5img1 {
  background-image: url(../images/desktop/s5/sec5img01.jpg);
}
.Sec5img2 {
  background-image: url(../images/desktop/s5/sec5img02.jpg);
}
.Sec5img3 {
  background-image: url(../images/desktop/s5/sec5img03.jpg);
}
.Sec5img4 {
  background-image: url(../images/desktop/s5/sec5img04.jpg);
}

// 團隊
.group_slide_container {
  display: flex;
}

.Sec6_img {
  flex: 1 1 calc(100% - 280px);
  height: 100vh;
  max-height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
}
.Sec6img1 {
  background-image: url(../images/desktop/s6/sec6img01.jpg);
}
.Sec6img2 {
  background-image: url(../images/desktop/s6/sec6img02.jpg);
}
.Sec6img3 {
  background-image: url(../images/desktop/s6/sec6img03.jpg);
}
.Sec6img4 {
  background-image: url(../images/desktop/s6/sec6img04.jpg);
}
.Sec6img5 {
  background-image: url(../images/desktop/s6/sec6img05.jpg);
}

.Sec6_content {
  flex: 1 1 280px;
  max-width: 280px;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_content {
  max-width: 200px;
  // margin-bottom: 3rem;
  color: #595757;
  img {
    max-width: 100%;
  }
}

.Sec6_content_img {
  margin-bottom: 1rem;
}

.Sec6_content_title {
  margin-bottom: 1rem;
  font-size: 20px;
  &.bd_bottom {
    padding-bottom: 1rem;
    border-bottom: 1px solid #bf9d5a;
  }
  span {
    letter-spacing: -2px;
  }
}
.Sec6_content_text {
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
}
.pos_title {
  width: 100%;
  max-width: 200px;
  color: #bf9d5a;
  font-size: 26px;
  line-height: 1;
  white-space: nowrap;
  position: absolute;
  bottom: 7%;
  letter-spacing: -1.5px;
  &.init_space {
    letter-spacing: initial;
  }
}

// 建材
.Sec7 {
  position: relative;
  .Sec7_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    max-height: 100%;
    background-color: #fff;
    position: relative;
  }
  h3 {
    width: calc(90% - 96px);
    max-width: 1280px;
    margin:  0 auto 48px auto;
    font-size: 24px;
    background-color: #fff;
    color: #bf9d5a;
    text-align: center;
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      display: block;
      width: 320px;
      height: 30px;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    span {
      position: relative;
      z-index: 1;
    }
    .title-line {
      display: block;
      width: 100%;
      height: 1px;
      margin: 0;
      border: none;
      background-color: #bf9d5a;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
    }
  }

  .Sec7_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 72px;
    width: calc(90% - 96px);
    max-width: 1280px;
    align-items: center;
    margin: 0 auto;
    color: #bf9d5a;
    img {
      max-width: 100%;
    }
    h4 {
      font-size: 20px;
      margin: 24px auto;
      line-height: 1.5;
      text-align: left;
    }
    p {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .section_md_bg {
    background-color: #bf9d5a;
  }

  .group_slide {
    img {
      max-width: 100%;
    }
  }

  .Sec7 {
    h3 {
      max-width: 620px;
      margin: 0 auto 40px auto;
    }
    .Sec7_grid {
      max-width: 620px;
      grid-template-columns: 1fr;
      gap: 0;
      margin: 0 auto;
      line-height: 1.5;
      color: #bf9d5a;
      h4 {
        font-size: 1.6rem;
        margin: 24px auto;
        text-align: center;
        line-height: 1.5;
      }
      p {
        font-size: 1.1rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .Sec7 {
    .Sec7_container {
      transform: translateY(-2rem);
    }
    h3 {
      width: calc(100% - 32px);
      font-size: 18px;
      &::before {
        width: 240px;
      }
    }
    .Sec7_grid {
      width: calc(100% - 32px);
      h4 {
        font-size: 18px;
        margin: 16px auto 16px auto;
        text-align: center;
        line-height: 1.6;
      }
      p {
        font-size: 12px;
      }
    }
  }
}

// 家配
.Sec8_img {
  flex: 1;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
}
.Sec8img1 {
  background-size: auto 80%;
  background-image: url(../images/desktop/s8/sec8img01.png);
}
.Sec8img2 {
  background-size: 80% auto;
  background-image: url(../images/desktop/s8/sec8img02.png);
}
.Sec8_content {
  flex: 1 1 280px;
  max-width: 280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 48px;
  color: #fff;
  background-color: #bf9d5a;
  .border_content_wrapper {
    display: flex;
    flex-direction: column;
  }
  .Sec8_title {
    display: flex;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 24px;
    font-size: 24px;
    writing-mode: vertical-rl;
    line-height: 1.5;
  }
  .border_sub_title {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 12px 0;
    margin-bottom: 24px;
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
  }
  .border_content {
    align-self: center;
    padding: 0;
    border: none;
    font-size: 15px;
    font-weight: normal;
    writing-mode: vertical-rl;
    line-height: 1.8;
    text-orientation: upright;
  }
}

@media (max-width: 768px) {
  .Sec8_img_m {
    max-width: 85%;
    max-height: 320px;
    margin: 0 auto;
    align-self: center;
    object-fit: contain;
  }
  .Sec8_content {
    flex: initial;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    max-width: 100%;
    padding: 0;
    gap: 24px;
    justify-content: initial;
    background-color: #fff;
    .border_content_wrapper {
      padding: 24px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: #bf9d5a;
      font-size: 12px;
      gap: 16px;
    }
    .Sec8_title {
      margin: 0 auto;
      color: #bf9d5a;
      font-size: 18px;
      text-align: center;
      writing-mode: initial;
    }
    .border_sub_title {
      padding: 16px 12px;
      font-size: 13px;
      border: 1px solid #fff;
      white-space: nowrap;
    }
    .border_content {
      writing-mode: initial;
      font-size: 12px;
      padding-bottom: 28px;
    }
  }
}

@media (max-width: 480px) {
  .Sec8_img_m {
    max-height: 200px;
  }
  .Sec8_content {
    grid-template-rows: auto 220px 2fr;
    .Sec8_title {
      padding-top: 1rem;
    }
    .border_content_wrapper {
      padding-top: 0;
      gap: 0;
    }
    .border_sub_title,
    .border_content {
      transform: translateY(-2rem);
    }
    .border_sub_title {
      margin-right: 16px;
    }
    .border_content {
      letter-spacing: -1px;
    }

  }
}


// 文字區塊
.slide_content {
  max-width: 460px;
  position: absolute;
  color: #fff;
  top: 5rem;
  &.pos_right {
    right: 3.5rem;
  }
  &.pos_left {
    left: 3.5rem;
  }
  &.pos_bottom {
    top: initial;
    bottom: 6rem;
  }
  &.bg_block {
    background-color: rgba(0, 0, 0, .4);
    padding: 24px;
  }
  .slide_title {
    margin-bottom: 1.5rem;
    font-size: 24px;
  }
  .slide_text {
    font-size: 14px;
    line-height: 1.8;
  }
  .slide_heading {
    font-size: 32px;
  }
  .slide_heading_gold {
    color: #bf9d5a;
    font-size: 52px;
    line-height: 1;
  }
}

@media screen and (max-width: 768px)  {
  .card_heading {
    position: absolute;
    bottom: 4rem;
    left: 1.5rem;
    .slide_heading {
      font-size: 20px;
      color: #fff;
    }
    .slide_heading_gold {
      color: #bf9d5a;
      font-size: 36px;
      line-height: 1;
      letter-spacing: -1px;
    }
  }
}